body {
    display: grid;
    height: 100vh;
    margin: 0 auto;
}

p{
    
    
    
}

.bg-main {
    background-image: url("https://i.ibb.co/gJpB6bS/Screen-Shot-2021-02-10-at-6-37-12-PM.png");
    background-size: cover;
}


.folder {
    margin: auto;
    border: 3px solid red;
}

.folder img {
    width: 200px;
    padding: 40px;
}

a {
    color: white;
    text-shadow: 2px 2px 10px royalblue;
    z-index: 2;
}

a:hover {
    color: black;
    text-shadow: 2px 2px 10px royalblue;
    cursor: url('../asset/arrow.png'), auto;
    text-decoration: underline;
    z-index: 2;

}